[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ascotraceR"]
	path = ascotraceR
	url = https://github.com/ihsankhaliq/ascotracer
